@model IEnumerable<UserStoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">User Stories</h1>
    <div class="card">
        <a asp-action="Add">Add User Story</a>
    </div>
    <div class="card">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Story Title</th>
                <th>User Story</th>
                <th>Acceptance Criteria</th>
                <th>Business Value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            @foreach(var userStory in Model)
            {
                <tr>
                    <td>@userStory.Id</td>
                    <td>@userStory.Title</td>
                    <td>@userStory.Description</td>
                    <td>@userStory.AcceptanceCriteria</td>
                    <td>@userStory.BusinessValue</td>
                    <td>@userStory.Estimation</td>
                    <td><a asp-action="Edit" asp-route-id="@userStory.Id">Edit User Story</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
