@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="display-4">User Stories</h1>
        <a asp-page="Add" class="btn btn-secondary">Add User Story</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Story Title</th>
                    <th>User Story</th>
                    <th>Acceptance Criteria</th>
                    <th>Business Value</th>
                    <th>Estimation</th>
                    <th>Status</th>
                    <th>Action(-s)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var userStory in Model.Input.UserStories)
                {
                    <tr>
                        <td>@userStory.Id</td>
                        <td>@userStory.Title</td>
                        <td>@userStory.Description</td>
                        <td>@userStory.AcceptanceCriteria</td>
                        <td>@userStory.BusinessValue</td>
                        <td>@userStory.Estimation</td>
                        <td>@userStory.Status</td>
                        <td><a asp-page="Edit" asp-route-id="@userStory.Id" class="btn btn-secondary">Edit User Story</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
